@import "../../../../shared/scss/styles.scss";

.register {
	.register-fields {
		margin-bottom: 30px;
		.inputs {
			display: flex;
			justify-content: space-between;

			.register-fields__input {
				height: 40px;
				width: 50%;
			}
		}
	}
}
