@import "../../shared/scss/styles.scss";

.auth {
	max-width: 1920px;
	min-height: 100vh;
	background-color: $auth-bg;
	padding-top: 50px;

	.container {
		@include flex-center(column);
		background-color: $form-bg;
		max-width: 600px;
		margin: auto;
		padding: 40px;
		border-radius: 4px;

		.form {
			width: 100%;
			&__header {
				.form__header-title {
					margin-top: 40px;
					.title {
						text-align: center;
						color: #fff;
					}
				}
			}

			.form__body {
				@include flex-center(column);

				.form__submit {
					width: 100%;
					margin-top: 20px;

					&-btn {
						width: 100%;
						padding: 15px 0;
						background-color: #1ab188;
						color: #fff;
						border: none;
						font-size: 2rem;
						font-weight: bold;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						outline: none;
					}

					&-btn:disabled {
						background-color: darken($color: #1ab188, $amount: 20);
						cursor: wait;
					}
				}
			}
		}

		.errorStatus{
			color: red;
			margin-top: 10px;
		}
	}
}
