.header {
	width: 100%;
    
	.content {
		width: 100%;
		min-height: 5em;
		background-color: #1d1c1c;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 40px;

		.title {
			color: green;
			text-shadow: 1px 1px 3px red;
			font-size: 2em;
		}

		.actions {
			flex: 1;
			display: flex;
            justify-content: flex-end;
			align-items: center;
			column-gap: 13px;
		}
	}
}
