@import "../../../shared/scss/styles.scss";

.register {
	margin-top: 40px;
	
	.register__name {
		@include flex-center;
        column-gap: 30px;
		&-input {
			height: 40px;
			font-size: 22px;
			padding: 12px 8px;
			width: 100%;
            outline: none;
		}
	}
}
