@import "../../../../shared/scss/styles.scss";

.auth__topRow {
	@include flex-center;

	.auth__topRow-leftBtn .btn,
	.auth__topRow-rightBtn .btn {
		width: 260px;
		height: 50px;
		border: none;
		background-color: rgba($color: $gray-light, $alpha: 0.25);
		color: $gray-light;
		font-size: 20px;
		transition: 0.4s;
		&:hover {
			background-color: $auth-btn-bg-hover;
			color: #fff;
		}
	}

	.auth__topRow-leftBtn .active,
	.auth__topRow-rightBtn .active {
		background-color: $auth-btn-bg-active;
		color: #fff;
	}
}
