@use "../../scss/styles.scss" as g;

.access {
	max-width: 1920px;
	min-height: 100vh;
	background-color: g.$auth-bg;
	padding-top: 50px;

	.container {
		@include g.flex-center(column);
		background-color: g.$form-bg;
		max-width: 600px;
		margin: auto;
		padding: 40px;
		border-radius: 4px;
	}
}
