@import "../../scss/styles.scss";

.access {
	max-width: 1920px;
	min-height: 100vh;
	background-color: $auth-bg;
	padding-top: 50px;

	.container {
		@include flex-center(column);
		background-color: $form-bg;
		max-width: 600px;
		margin: auto;
		padding: 40px;
		border-radius: 4px;
	}
}
