.descriptionBlock {
	margin-top: 30px;

	.title {
		color: green;
		font-weight: 600;
		font-size: 50px;
	}

	.price {
		margin-top: 20px;
		font-weight: 600;
		font-size: 30px;
		color: rgb(77, 77, 131);
	}

	.description {
		text-align: left;
		margin-top: 20px;
		font-size: 18px;
		color: grey;
	}

	&__btns {
		height: 40px;
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-top: 40px;

		.counter {
			width: 40%;
			height: 100%;
			display: flex;
			font-size: 18px;
			font-weight: 600;
			.count {
				display: inline-block;
				padding: 10px;
			}
		}
	}
}
